/* nav */

nav {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9dc;
}

nav>div,
div>.ul-nav {
    display: flex;
    align-items: center;
}

nav>div img {
    padding: 10px;
    width: 100px;
}


.li-nav {
    font-size: 12px;
    margin: 10px;
}

.li-nav>a {
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin: 10px;
    margin-left: 0;
    padding: 4px 9px;
}

/* jumbotron */

.jumbotron {
    padding-top: 50px;
    background-color: #b4d0e7;
    max-height: 670px;
    margin-bottom: 100px;
}

h1 {
    margin-top: 50px;
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
}

.jumbo-text {
    margin-top: 30px;
}

.jumbo-text {
    flex-direction: column;
    width: 55%;
    text-align: left;
}

#btn-jumbo {
    font-size: 14px;
}

.jumbo-img {
    position: relative;
    top: 30px;
}

#arrow {
    margin-top: auto;
    margin-bottom: 50px;
    font-size: 50px;
    color: black;
}

/* offerta annuale/mensile */

.tipo-fatturazione {
    align-items: center;
    margin-bottom: 30px;
}

.check-bal {
    width: 10px;
    height: 10px;
    border: 1px solid #d9d9dc;
    border-radius: 50%;
    margin: 3px;
}

.tipo-fatturazione>span {
    margin-right: 30px;
}

/* CARDS */

.cards {
    justify-content: space-between;
}

.offerta {
    max-width: calc(100% / 3 - 40px);
    border: 1px solid #dcdcde;
}

/* caratteristiche cards singole */

.offerta,
.nome-offerta,
.punti-salienti {
    flex-direction: column;
}

.tipo-offerta {
    text-align: center;
    line-height: 5px;
    padding: 10px;
    border-bottom: 1px solid #dcdcde;
}

.cards-content {
    margin: 0px 24px;
}

.cards-bold {
    font-weight: bold;
}

.cards-grey {
    color: grey;
}

.tipo-offerta,
.nome-offerta,
.punti-salienti {
    font-size: 12px;
}

.nome-offerta>span,
.punti-salienti>span {
    margin: 5px 0;
}

.nome-offerta {
    margin-bottom: 20px;
}

.punti-salienti {
    margin-bottom: 20px;
}

/* .nome-offerta:nth-child(3) {
    margin-top: 20px;
} */

#mgtop {
    margin-top: 30px;
}


/* card big */

.card-big {
    margin-top: 30px;
    border: 1px solid #dcdcde;
}

.cbig-content {
    justify-content: space-between;
}

.cbig-text {
    width: calc(100% / 3 * 2);
    margin-left: 24px;
}

.text {
    font-size: 12px;
}

.cbig-right {
    margin-right: 10px;
}

.btn-blue.prova.cbig-btn {
    margin-top: 20px;
    margin-right: 24px;
    display: inline-block;
}

.text>p {
    line-height: 70px;
}


/* articolo contatto */

#articolo-contatto {
    margin: 100px 0;
}

.articolo-pic {
    width: calc(100% / 3 * 2);
}

.articolo-pic img {
    object-fit: cover;
}

.articolo-text {
    width: calc(100% / 3);
    padding: 40px 30px 0 30px;
}

.articolo-text>p {
    font-size: 14px;
    margin-bottom: 30px;
}

.btn-blue.prova.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* operzioni business */

.operazioni {
    flex-wrap: wrap;
    justify-content: space-between;
}

.operazioni-cards {
    width: calc(100% / 3 - 40px);
    margin-bottom: 50px;
}

.operazioni-cards>p {
    font-size: 14px;
}

/* titolo clienti */

.titolo-clienti {
    margin-top: 100px;
    margin-bottom: 50px;
}

#link-clienti {
    display: inline-block;
    margin-bottom: 80px;
}

/* sponsorizzazioni */

.squared {
    width: calc(100vw / 3);
    flex-wrap: wrap;

}

.sponsor-loghi {
    width: 50%;
    height: calc(100vw / 3 / 2);
    justify-content: center;
    align-items: center;
}

.sponsor-loghi>img {
    width: 50%;
    filter: invert(100%);
}

/* colori square partners */

#designit {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

#arizona_state_university {
    background-color: #61082b;
}

#university_of_florida {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}

#world_bicycle_relief {
    background-color: #d5001f;
}

#hearst_corp {
    background-color: #b4d0e7;
}

#lonely_planet {
    background-color: #0d2481;
}

#clear_channel {
    background-color: #ffd830;
}

/* quadrato centrale */

.s-big {
    background-color: #f5f5f5;
}

.s-big-pic {
    width: 300px;
    margin: 30px;
}

.s-big p {
    font-size: 14px;
    margin: 30px;
}

/* porta */

.porta {
    background-color: #b4d0e7;
    margin-bottom: 60px;
}

.titoli-2nd.red {
    color: #610b30;
}

.square-blu {
    justify-content: space-between;
    padding: 60px 0;
}

#btn-porta {
    display: inline-block;
    border: none;
    padding: 7px 30px;
}

/* domande frequenti */

.question {
    justify-content: space-between;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    padding: 25px 0;
}

h4 {
    font-weight: bold;
    display: inline-block;
}

.arrow-down {
    margin: 0px 10px;
}

.question-list:last-child {
    margin-bottom: 60px;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

.sezioni-footer {
    justify-content: space-between;
}

.sezioni {
    width: calc(100% / 5);
    margin: 50px 0px;
}

h5 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ul-footer {
    font-size: 12px;
}

.li-footer {
    line-height: 25px;
    color: #cbdbcb;

}

.ul-footer:last-child {
    margin-bottom: ;
}

.hrow.hfooter {
    width: 90px;
}

#lenguage {
    font-size: 12px;
    text-align: left;
    color: #999997;
    padding: 30px 0px;
}