/* nav */

nav {
    width: 100vw;
    height: 40px;
    justify-content: space-between;
}

nav>div,
div>ul {
    display: flex;
    align-items: center;
}

nav>div img {
    padding: 10px;
    width: 100px;
}

div>ul {
    list-style: none;
}

li {
    font-size: 10px;
    margin: 10px;
}

.btn-blue {
    /* debug */
    background-color: blue;
    color: white;

    text-decoration: none;
    font-size: 10px;
    margin: 10px;
    margin-left: 0;
    padding: 4px 9px;
}

/* jumbotron */

.jumbotron {
    background-color: lightblue;
    max-height: 570px;
    margin-bottom: 100px;
}

h1 {
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
}

.jumbo-text,
.jumbo-img {
    margin-top: 30px;
}

.jumbo-text {
    flex-direction: column;
    width: 55%;
    text-align: left;
}

.btn-blue.prova {
    width: fit-content;
    font-size: 15px;
    margin: 20px 0px;
}

/* offerta annuale/mensile */

h2 {
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 0;
}

.tipo-fatturazione {
    align-items: center;
}

.check-bal {
    width: 5px;
    height: 5px;
    border: 5px solid blue;
    border-radius: 50%;
    margin: 3px;
}

.tipo-fatturazione>span {
    margin-right: 30px;
}

/* cards */

.cards {
    max-width: calc(100% / 3 - 40px);
    border: 1px solid black;
}

.offerta,
.nome-offerta,
.punti-salienti {
    flex-direction: column;
}

.tipo-offerta {
    text-align: center;
}