/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.d-flex {
	display: flex;
}

.container-small {
	max-width: 1000px;
	margin: 0 auto;
}

.titoli-2nd {
	text-align: left;
	font-size: 30px;
	font-weight: bolder;
	margin: 20px 0;
}

.titoli-sections {
	font-size: 17px;
	font-weight: bold;
	margin: 15px 0;
}

div>ul {
	list-style: none;
}

.btn-blue.prova {
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin: 20px 0px;
	padding: 10px;
}


.hrow {
	height: 1px;
	background-color: #dcdcde;
	width: 40px;
	margin: 20px 0px;
}

/* utils fontawesome */
.fa-solid.fa-check {
	color: #0061ff;
}

/* bonus */

.li-nav>a:hover {
	box-shadow: 0px 2px #0061ff;
}

.btn-blue:hover {
	background-color: rgb(0, 97, 255, .5);
}

.answer {
	display: none;
}

.question {
	flex-wrap: wrap;
}

.question:hover>.answer {
	display: block;
	margin-top: 10px;
}