/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.d-flex {
	display: flex;
}

.container-small {
	max-width: 1000px;
	margin: 0 auto;
}

.titoli-2nd {
	text-align: left;
	font-size: 30px;
	font-weight: bolder;
	margin: 20px 0;
}

.titoli-sections {
	font-size: 17px;
	font-weight: bold;
	margin: 15px 0;
}